@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.leaflet-container {
  z-index: 0;
  height: 500px;
  width: 700px;
  border-radius: 2rem;
}
.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}
@media only screen and (max-width: 600px) {
  .leaflet-container {
    z-index: 0;
    height: 300px;
    width: 300px;
    border-radius: 2rem;
  }
}
